.container-fluid {
  padding: 0px;

  .header {
    border-bottom: solid 2px #A6A6A6;

    .content_header_1 {
      margin: 0px;
      padding: 0px;
      background: #A6A6A6;

      a {
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        align-items: flex-end;
        justify-content: flex-end;
        display: flex;
        color: white;
      }

      .modal-auth {
        display: flex;

        a {
          padding: 5px;
          font-size: 0.9rem;
        }

        span {
          padding: 5px 2px;
          font-size: 0.9rem;
          color: #fff;
        }
      }
    }

    .content_header_2 {
      margin: 0px;
      padding: 0px;

      .content_item {
        padding: 0px;
        margin: 0px;
        height: 70px;

        .item {
          margin: auto;
          align-items: flex-end;

          p {
            margin: auto;
            padding-left: 12%;
            font-size: 20px;
            font-weight: bold;
            opacity: 0.6;
          }

          .button_page {
            border-radius: 0%;
            margin-right: 2%;
          }

          label {
            font-size: 17px;
            opacity: 0.6;
          }

          .form {
            .btn_search {
              background: #ED7D31;
              font-weight: bold;
            }
          }
        }

        .select-size {
          display: flex;
          justify-content: flex-end;
          align-items: center;

          label {
            padding-right: 20px;
            margin: 0;
          }
        }
      }
    }

    .content_header_3 {
      background: #F2F2F2;
      padding: 0px;
      margin: 0px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 45px;

      .nav {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        margin-left: 22px;

        .nav-item {
          a {
            color: #7F7F7F;
          }

          .active {
            color: #ED7D31;
          }

          a:hover {
            color: #ED7D31;
          }

          .dropdown-menu {
            margin-top: -3px;
          }
        }

        .nav-item:not(:first-child) {
          &:after {
            content: "|";
            color: #C3C3C3;
            top: 6px;
            position: absolute;
            height: 50px;
            font-size: 20px;
          }
        }
      }
    }

    .content_header_4 {
      padding: 0px;
      margin: 0px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 45px;

      .nav {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        margin-left: 22px;

        .nav-item {
          a {
            color: #7F7F7F;
          }

          .active {
            color: #ED7D31;
          }

          a:hover {
            color: #ED7D31;
          }

          .dropdown-menu {
            margin-top: -3px;
          }
        }

        .nav-item:not(:first-child) {
          &:after {
            content: "|";
            color: #C3C3C3;
            top: 6px;
            position: absolute;
            height: 50px;
            font-size: 20px;
          }
        }
      }
    }
  }

  .main {
    justify-content: center;
    margin-top: 1%;

    .content_1 {
      padding: 0px;
      margin: 0px;
      background: #F2F2F2;

      .content_top_1 {
        padding: 0px;
        margin: 0px;
        height: auto;
        position: relative;

        h3 {
          margin-top: 2%;
          font-size: 18px;
          text-decoration: underline;
          padding-left: 15px;
        }

        button {
          width: 15%;
          position: absolute;
          bottom: 20px;
          left: 35px;
        }

        .content_p {
          padding: 0px;
          margin: 0px;
          margin-left: 10%;
          background: white;
          width: 87%;
        }

        .arrow {
          cursor: pointer;
          display: flex;
          height: 40px;
          background: #D9D9D9;
          color: black;
          border: 1px solid;
          justify-content: center;
          align-items: center;
        }

        .arrow:after {
          // the triangle
          content: "";
          position: absolute;
          right: -15px;
          top: 5px;
          width: 28.2842712px;
          height: 28.2842712px;
          background: #D9D9D9;
          border-right: 1px solid #000;
          border-top: 1px solid #000;
          transform: rotate(45deg);
        }

        p {
          margin-left: 5%;
          font-size: 18px;
          font-weight: bold;
        }
      }

      .content_top_2 {
        padding: 0px;
        margin: 0px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .content_2 {
      margin: 0px;
      padding: 0px;

      .content_top {
        margin: 0px;
        padding: 0px;
        height: 60px;
        padding-top: 15px;
      }

      .post1 {
        margin: 0px;
        padding: 0px;
        position: relative;

        img {
          width: 100%;
          height: 500px;
          position: relative;
        }

        .item_absolute {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 70%;

          h4 {
            color: white;
            font-weight: bold;
            font-size: 1.8rem;
            padding-top: 30px;
            padding-left: 20px;
          }

          p {
            font-size: 1.5rem;
            padding-left: 20px;
          }
        }

        .item_p {
          h4 {
            color: white;
            font-weight: bold;
            font-size: 25px;
          }
        }

        .item_absolute {
          p {
            color: white;
            font-weight: bold;
            font-size: 12px;
          }
        }
      }

      .content_left {
        margin: 0px;
        padding: 0px;
        position: relative;

        img {
          width: 100%;
          height: 500px;
          position: relative;
        }

        .item_absolute {
          position: absolute;
          bottom: 0;
          left: 0;
          background: white;
          width: 55%;

          h4 {
            color: black;
            font-weight: bold;
            font-size: 30px;
            padding-top: 30px;
            padding-left: 20px;
          }

          p {
            color: black;
            padding-left: 20px;
          }
        }

        .item_p {
          h4 {
            color: black;
            font-weight: bold;
            font-size: 25px;
          }
        }

        .item_absolute {
          p {
            color: black;
            font-weight: bold;
            font-size: 12px;
          }
        }
      }

      .item {
        margin: 0px;
        padding: 0px;

        img {
          width: 100%;
          height: 250px;
        }
      }

      .item_1 {
        top: 0px;
        left: 0px;
      }
    }

    .content_3 {
      margin: 0px;
      padding: 0px;

      .content_top {
        height: 60px;
        width: 100%;
        padding-top: 15px;
      }

      .content_bot {
        padding: 0px;
        margin: 0px;
        justify-content: space-between;
        width: 100%;

        .item {
          padding: 0px;
          margin: 0px;
          background: #F2F2F2;
          margin-top: 20px;
          max-width: 49%;

          .item_bot {
            padding-left: 30px;
            padding-top: 20px;
            position: relative;

            .view-detail {
              position: absolute;
              top: 50%;
              right: 15px;
              color: #000;

              &:hover {
                text-decoration: none;
              }

              &:before {
                content: '➤';
              }
            }
          }

        }

        img {
          width: 100%;
          height: 300px;
        }
      }
    }

    .content-item {
      display: flex;
    }
  }

  .button {
    justify-content: center;
    display: flex;
    margin-bottom: 50px;

    button {
      border-radius: 5%;
      width: 10%;
      border: 1px solid #CCCCCC;
      font-weight: bold;
      opacity: 0.6;
      margin-top: 10px;
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    background: #7F7F7F;
    height: 50px;
    padding-top: 15px;
  }
}

//================== Css login modal
.login-modal {
  width: 1000px;
  height: 350px;
  margin: 25vh 0 0 20%;

  .modal-content {
    width: 750px;
    height: 100%;
    border: 1px solid #41719C;

    .modal-header {
      width: 100%;
      height: 50px;
      background-color: #DEEBF7;
      border-bottom: 1px solid #41719C;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .modal-title {
        font-size: 1.4rem;
        margin-left: 265px;
      }

      .close {
        border: 1px solid #41719C;
        height: 30px;
        font-size: 1.2rem;
        margin: -2px;
        background-color: #FBE5D6;

        .div-close {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .modal-body {
      width: 100%;
      height: 100%;

      .feedback-info {
        display: block;
        margin-left: 225px;
        margin-bottom: 15px;
        font-size: 1.1rem;
      }

      .user-name {
        width: 100%;
        height: 50px;
        margin-bottom: 20px;

        span {
          width: 140px;
          color: #7F7F7F;
          margin-left: 15px;
        }

        .invalid-feedback {
          margin-left: 160px;
          width: 500px;

          strong {
            color: red;
          }
        }

        input {
          height: 40px;
          margin-left: 25px;
          border: 1px solid #BCBCBC;
          width: 495px;
          display: inline;
        }

        input:valid {
          padding-left: 17px;
        }

        input::placeholder {
          padding-left: 17px;
        }
      }

      .pass-word {
        width: 100%;
        height: 50px;

        .invalid-feedback {
          margin-left: 160px;
          width: 500px;

          strong {
            color: red;
          }
        }

        span {
          width: 140px;
          color: #7F7F7F;
          margin-left: 15px;
        }

        input {
          height: 40px;
          margin-left: 57px;
          border: 1px solid #BCBCBC;
          width: 495px;
          display: inline;
        }

        input:valid {
          padding-left: 17px;
        }

        input::placeholder {
          padding-left: 17px;
        }
      }
    }

    .modal-footer {
      .btn-secondary {
        border: 1px solid #41719C;
        background-color: #FFF2CC;
        height: 35px;
        width: 120px;
        color: black;
        margin-left: 14px;
        margin-right: 475px;
      }

      .btn-primary {
        border: 1px solid #41719C;
        background-color: #DEEBF7;
        height: 35px;
        color: black;
      }
    }
  }
}

//================= css register modal
.register-modal {
  width: 1000px;
  height: auto;
  margin: 15vh 0 0 20%;

  .modal-content {
    width: 750px;
    height: 100%;
    border: 1px solid #41719C;

    .modal-header {
      width: 100%;
      height: 50px;
      background-color: #E2F0D9;
      border-bottom: 1px solid #41719C;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .modal-title {
        font-size: 1.4rem;
        margin-left: 265px;
      }

      .close {
        border: 1px solid #41719C;
        height: 30px;
        font-size: 1.2rem;
        margin: -2px;
        background-color: #FBE5D6;

        .div-close {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }


    .modal-body {
      width: 100%;
      height: 100%;

      .name {
        width: 100%;
        height: 50px;
        margin-top: 15px;

        span {
          min-width: 140px;
          color: #7F7F7F;
          margin-left: 15px;
        }

        input {
          height: 40px;
          margin-left: 63px;
          border: 1px solid #BCBCBC;
          width: 495px;
          display: inline;
        }

        input:valid {
          padding-left: 17px;
        }

        input::placeholder {
          padding-left: 17px;
        }

        .invalid-feedback {
          width: 100%;
          height: 15px;

          strong {
            color: red;
            margin-left: 150px;
          }
        }
      }

      .user-name {
        width: 100%;
        height: 50px;
        margin-top: 15px;

        span {
          min-width: 140px;
          color: #7F7F7F;
          margin-left: 15px;
        }

        input {
          height: 40px;
          margin-left: 31px;
          border: 1px solid #BCBCBC;
          width: 495px;
          display: inline;
        }

        input:valid {
          padding-left: 17px;
        }

        input::placeholder {
          padding-left: 17px;
        }

        .invalid-feedback {
          width: 100%;
          height: 15px;

          strong {
            color: red;
            margin-left: 150px;
          }
        }
      }

      .pass-word {
        width: 100%;
        height: 50px;
        margin-top: 15px;

        span {
          min-width: 140px;
          color: #7F7F7F;
          margin-left: 15px;
        }

        input {
          height: 40px;
          margin-left: 63px;
          border: 1px solid #BCBCBC;
          width: 495px;
          display: inline;
        }

        input:valid {
          padding-left: 17px;
        }

        input::placeholder {
          padding-left: 17px;
        }

        .invalid-feedback {
          width: 100%;
          height: 15px;

          strong {
            color: red;
            margin-left: 150px;
          }
        }
      }

      .birth-day {
        width: 100%;
        height: 50px;
        margin-top: 15px;

        span {
          min-width: 140px;
          color: #7F7F7F;
          margin-left: 15px;
        }

        input {
          height: 40px;
          margin-left: 78px;
          border: 1px solid #BCBCBC;
          width: 495px;
          display: inline;
        }

        input:valid {
          padding-left: 17px;
        }

        input::placeholder {
          padding-left: 17px;
        }

        .invalid-feedback {
          width: 100%;
          height: 15px;

          strong {
            color: red;
            margin-left: 150px;
          }
        }
      }

      .gender {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        span {
          min-width: 140px;
          color: #7F7F7F;
          margin-left: 15px;
        }

        .radio-gender {
          margin-left: 25px;
          color: #7F7F7F;
        }
      }
    }

    .modal-footer {
      .btn-secondary {
        border: 1px solid #41719C;
        background-color: #FFF2CC;
        height: 35px;
        width: 120px;
        color: black;
        margin-left: 14px;
        margin-right: 495px;
      }

      .btn-primary {
        border: 1px solid #41719C;
        background-color: #DEEBF7;
        height: 35px;
        color: black;
        width: 65px;
      }
    }
  }
}

.detailed_post {
  width: 90%;
  min-height: 74vh;
  margin: 0 auto;

  .content_title {
    margin-top: 1%;

    .item_title {
      margin-left: 5%;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  .item_content {
    margin-top: 1%;
    width: 70%;
    min-height: 60vh;
    line-height: 1.5em;
  }

  .item_user_release_date {
    width: 70%;
    padding: 1%;
    border: 1px solid #BCBCBC;

    .item_user, .item_release_date {
      font-weight: bold;
    }

    .mark {
      margin: 0 2%;
    }
  }
}

//=========Detail releaseNumber

.detailed_release_number {
  width: 90%;
  margin: 0 auto;

  .release_number {
    .item_image_name {
      position: relative;

      img {
        width: 100%;
        height: 450px;
      }

      .item_name {
        .name {
          width: 25%;
          height: 20%;
          padding: 1%;
          position: absolute;
          bottom: 0%;
          background-color: white;
          color: black;
          font-size: 2rem;
          font-weight: bold;
          cursor: pointer;
          margin-bottom: -1px;
        }
      }
    }

    .item_title {
      h2 {
        width: 100%;
        margin: 20px 0;
        font-size: 1.25rem;
      }
    }
  }

  .post_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .post_item {
      width: 49%;
      height: 500px;
      position: relative;
      margin-bottom: 20px;
      background-color: #F2F2F2;

      img {
        width: 100%;
        height: 80%;
      }

      .post_content {
        width: 100%;
        height: 20%;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #525252;

        h2 {
          a {
            font-size: 2rem;
            font-weight: bold;
            color: #525252;
          }
        }

        h3 {
          color: #525252;
          font-size: 1.25rem;
        }
      }
    }
  }

  .show_more {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 60px;

    button {
      width: 200px;
      height: 50px;
      border-radius: 10px;
      border: 1px solid #BFBFBF;
      background-color: #F2F2F2;
      color: #525252;
      font-size: 1.25rem;
      cursor: pointer;
    }
  }
}


