<template>
    <div>
       <div>12313123</div>
    </div>
</template>

<script>
    export default {
        name: 'Test',
        data() {
            return {

            };
        },
    };
</script>