@charset "UTF-8";

.container-fluid {
  padding: 0px;
}

.container-fluid .header {
  border-bottom: solid 2px #A6A6A6;
}

.container-fluid .header .content_header_1 {
  margin: 0px;
  padding: 0px;
  background: #A6A6A6;
}

.container-fluid .header .content_header_1 a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
}

.container-fluid .header .content_header_1 .modal-auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-fluid .header .content_header_1 .modal-auth a {
  padding: 5px;
  font-size: 0.9rem;
}

.container-fluid .header .content_header_1 .modal-auth span {
  padding: 5px 2px;
  font-size: 0.9rem;
  color: #fff;
}

.container-fluid .header .content_header_2 {
  margin: 0px;
  padding: 0px;
}

.container-fluid .header .content_header_2 .content_item {
  padding: 0px;
  margin: 0px;
  height: 70px;
}

.container-fluid .header .content_header_2 .content_item .item {
  margin: auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.container-fluid .header .content_header_2 .content_item .item p {
  margin: auto;
  padding-left: 12%;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.6;
}

.container-fluid .header .content_header_2 .content_item .item .button_page {
  border-radius: 0%;
  margin-right: 2%;
}

.container-fluid .header .content_header_2 .content_item .item label {
  font-size: 17px;
  opacity: 0.6;
}

.container-fluid .header .content_header_2 .content_item .item .form .btn_search {
  background: #ED7D31;
  font-weight: bold;
}

.container-fluid .header .content_header_2 .content_item .select-size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-fluid .header .content_header_2 .content_item .select-size label {
  padding-right: 20px;
  margin: 0;
}

.container-fluid .header .content_header_3 {
  background: #F2F2F2;
  padding: 0px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
}

.container-fluid .header .content_header_3 .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-left: 22px;
}

.container-fluid .header .content_header_3 .nav .nav-item a {
  color: #7F7F7F;
}

.container-fluid .header .content_header_3 .nav .nav-item .active {
  color: #ED7D31;
}

.container-fluid .header .content_header_3 .nav .nav-item a:hover {
  color: #ED7D31;
}

.container-fluid .header .content_header_3 .nav .nav-item .dropdown-menu {
  margin-top: -3px;
}

.container-fluid .header .content_header_3 .nav .nav-item:not(:first-child):after {
  content: "|";
  color: #C3C3C3;
  top: 6px;
  position: absolute;
  height: 50px;
  font-size: 20px;
}

.container-fluid .header .content_header_4 {
  padding: 0px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
}

.container-fluid .header .content_header_4 .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-left: 22px;
}

.container-fluid .header .content_header_4 .nav .nav-item a {
  color: #7F7F7F;
}

.container-fluid .header .content_header_4 .nav .nav-item .active {
  color: #ED7D31;
}

.container-fluid .header .content_header_4 .nav .nav-item a:hover {
  color: #ED7D31;
}

.container-fluid .header .content_header_4 .nav .nav-item .dropdown-menu {
  margin-top: -3px;
}

.container-fluid .header .content_header_4 .nav .nav-item:not(:first-child):after {
  content: "|";
  color: #C3C3C3;
  top: 6px;
  position: absolute;
  height: 50px;
  font-size: 20px;
}

.container-fluid .main {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1%;
}

.container-fluid .main .content_1 {
  padding: 0px;
  margin: 0px;
  background: #F2F2F2;
}

.container-fluid .main .content_1 .content_top_1 {
  padding: 0px;
  margin: 0px;
  height: auto;
  position: relative;
}

.container-fluid .main .content_1 .content_top_1 h3 {
  margin-top: 2%;
  font-size: 18px;
  text-decoration: underline;
  padding-left: 15px;
}

.container-fluid .main .content_1 .content_top_1 button {
  width: 15%;
  position: absolute;
  bottom: 20px;
  left: 35px;
}

.container-fluid .main .content_1 .content_top_1 .content_p {
  padding: 0px;
  margin: 0px;
  margin-left: 10%;
  background: white;
  width: 87%;
}

.container-fluid .main .content_1 .content_top_1 .arrow {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  background: #D9D9D9;
  color: black;
  border: 1px solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-fluid .main .content_1 .content_top_1 .arrow:after {
  content: "";
  position: absolute;
  right: -15px;
  top: 5px;
  width: 28.2842712px;
  height: 28.2842712px;
  background: #D9D9D9;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.container-fluid .main .content_1 .content_top_1 p {
  margin-left: 5%;
  font-size: 18px;
  font-weight: bold;
}

.container-fluid .main .content_1 .content_top_2 {
  padding: 0px;
  margin: 0px;
}

.container-fluid .main .content_1 .content_top_2 img {
  width: 100%;
  height: 100%;
}

.container-fluid .main .content_2 {
  margin: 0px;
  padding: 0px;
}

.container-fluid .main .content_2 .content_top {
  margin: 0px;
  padding: 0px;
  height: 60px;
  padding-top: 15px;
}

.container-fluid .main .content_2 .post1 {
  margin: 0px;
  padding: 0px;
  position: relative;
}

.container-fluid .main .content_2 .post1 img {
  width: 100%;
  height: 500px;
  position: relative;
}

.container-fluid .main .content_2 .post1 .item_absolute {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70%;
}

.container-fluid .main .content_2 .post1 .item_absolute h4 {
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
  padding-top: 30px;
  padding-left: 20px;
}

.container-fluid .main .content_2 .post1 .item_absolute p {
  font-size: 1.5rem;
  padding-left: 20px;
}

.container-fluid .main .content_2 .post1 .item_p h4 {
  color: white;
  font-weight: bold;
  font-size: 25px;
}

.container-fluid .main .content_2 .post1 .item_absolute p {
  color: white;
  font-weight: bold;
  font-size: 12px;
}

.container-fluid .main .content_2 .content_left {
  margin: 0px;
  padding: 0px;
  position: relative;
}

.container-fluid .main .content_2 .content_left img {
  width: 100%;
  height: 500px;
  position: relative;
}

.container-fluid .main .content_2 .content_left .item_absolute {
  position: absolute;
  bottom: 0;
  left: 0;
  background: white;
  width: 55%;
}

.container-fluid .main .content_2 .content_left .item_absolute h4 {
  color: black;
  font-weight: bold;
  font-size: 30px;
  padding-top: 30px;
  padding-left: 20px;
}

.container-fluid .main .content_2 .content_left .item_absolute p {
  color: black;
  padding-left: 20px;
}

.container-fluid .main .content_2 .content_left .item_p h4 {
  color: black;
  font-weight: bold;
  font-size: 25px;
}

.container-fluid .main .content_2 .content_left .item_absolute p {
  color: black;
  font-weight: bold;
  font-size: 12px;
}

.container-fluid .main .content_2 .item {
  margin: 0px;
  padding: 0px;
}

.container-fluid .main .content_2 .item img {
  width: 100%;
  height: 250px;
}

.container-fluid .main .content_2 .item_1 {
  top: 0px;
  left: 0px;
}

.container-fluid .main .content_3 {
  margin: 0px;
  padding: 0px;
}

.container-fluid .main .content_3 .content_top {
  height: 60px;
  width: 100%;
  padding-top: 15px;
}

.container-fluid .main .content_3 .content_bot {
  padding: 0px;
  margin: 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.container-fluid .main .content_3 .content_bot .item {
  padding: 0px;
  margin: 0px;
  background: #F2F2F2;
  margin-top: 20px;
  max-width: 49%;
}

.container-fluid .main .content_3 .content_bot .item .item_bot {
  padding-left: 30px;
  padding-top: 20px;
  position: relative;
}

.container-fluid .main .content_3 .content_bot .item .item_bot .view-detail {
  position: absolute;
  top: 50%;
  right: 15px;
  color: #000;
}

.container-fluid .main .content_3 .content_bot .item .item_bot .view-detail:hover {
  text-decoration: none;
}

.container-fluid .main .content_3 .content_bot .item .item_bot .view-detail:before {
  content: '\27A4';
}

.container-fluid .main .content_3 .content_bot img {
  width: 100%;
  height: 300px;
}

.container-fluid .main .content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-fluid .button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.container-fluid .button button {
  border-radius: 5%;
  width: 10%;
  border: 1px solid #CCCCCC;
  font-weight: bold;
  opacity: 0.6;
  margin-top: 10px;
}

.container-fluid .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #7F7F7F;
  height: 50px;
  padding-top: 15px;
}

.login-modal {
  width: 1000px;
  height: 350px;
  margin: 25vh 0 0 20%;
}

.login-modal .modal-content {
  width: 750px;
  height: 100%;
  border: 1px solid #41719C;
}

.login-modal .modal-content .modal-header {
  width: 100%;
  height: 50px;
  background-color: #DEEBF7;
  border-bottom: 1px solid #41719C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-modal .modal-content .modal-header .modal-title {
  font-size: 1.4rem;
  margin-left: 265px;
}

.login-modal .modal-content .modal-header .close {
  border: 1px solid #41719C;
  height: 30px;
  font-size: 1.2rem;
  margin: -2px;
  background-color: #FBE5D6;
}

.login-modal .modal-content .modal-header .close .div-close {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-modal .modal-content .modal-body {
  width: 100%;
  height: 100%;
}

.login-modal .modal-content .modal-body .feedback-info {
  display: block;
  margin-left: 225px;
  margin-bottom: 15px;
  font-size: 1.1rem;
}

.login-modal .modal-content .modal-body .user-name {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
}

.login-modal .modal-content .modal-body .user-name span {
  width: 140px;
  color: #7F7F7F;
  margin-left: 15px;
}

.login-modal .modal-content .modal-body .user-name .invalid-feedback {
  margin-left: 160px;
  width: 500px;
}

.login-modal .modal-content .modal-body .user-name .invalid-feedback strong {
  color: red;
}

.login-modal .modal-content .modal-body .user-name input {
  height: 40px;
  margin-left: 25px;
  border: 1px solid #BCBCBC;
  width: 495px;
  display: inline;
}

.login-modal .modal-content .modal-body .user-name input:valid {
  padding-left: 17px;
}

.login-modal .modal-content .modal-body .user-name input::-webkit-input-placeholder {
  padding-left: 17px;
}

.login-modal .modal-content .modal-body .user-name input::-moz-placeholder {
  padding-left: 17px;
}

.login-modal .modal-content .modal-body .user-name input::-ms-input-placeholder {
  padding-left: 17px;
}

.login-modal .modal-content .modal-body .user-name input::placeholder {
  padding-left: 17px;
}

.login-modal .modal-content .modal-body .pass-word {
  width: 100%;
  height: 50px;
}

.login-modal .modal-content .modal-body .pass-word .invalid-feedback {
  margin-left: 160px;
  width: 500px;
}

.login-modal .modal-content .modal-body .pass-word .invalid-feedback strong {
  color: red;
}

.login-modal .modal-content .modal-body .pass-word span {
  width: 140px;
  color: #7F7F7F;
  margin-left: 15px;
}

.login-modal .modal-content .modal-body .pass-word input {
  height: 40px;
  margin-left: 57px;
  border: 1px solid #BCBCBC;
  width: 495px;
  display: inline;
}

.login-modal .modal-content .modal-body .pass-word input:valid {
  padding-left: 17px;
}

.login-modal .modal-content .modal-body .pass-word input::-webkit-input-placeholder {
  padding-left: 17px;
}

.login-modal .modal-content .modal-body .pass-word input::-moz-placeholder {
  padding-left: 17px;
}

.login-modal .modal-content .modal-body .pass-word input::-ms-input-placeholder {
  padding-left: 17px;
}

.login-modal .modal-content .modal-body .pass-word input::placeholder {
  padding-left: 17px;
}

.login-modal .modal-content .modal-footer .btn-secondary {
  border: 1px solid #41719C;
  background-color: #FFF2CC;
  height: 35px;
  width: 120px;
  color: black;
  margin-left: 14px;
  margin-right: 475px;
}

.login-modal .modal-content .modal-footer .btn-primary {
  border: 1px solid #41719C;
  background-color: #DEEBF7;
  height: 35px;
  color: black;
}

.register-modal {
  width: 1000px;
  height: auto;
  margin: 15vh 0 0 20%;
}

.register-modal .modal-content {
  width: 750px;
  height: 100%;
  border: 1px solid #41719C;
}

.register-modal .modal-content .modal-header {
  width: 100%;
  height: 50px;
  background-color: #E2F0D9;
  border-bottom: 1px solid #41719C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register-modal .modal-content .modal-header .modal-title {
  font-size: 1.4rem;
  margin-left: 265px;
}

.register-modal .modal-content .modal-header .close {
  border: 1px solid #41719C;
  height: 30px;
  font-size: 1.2rem;
  margin: -2px;
  background-color: #FBE5D6;
}

.register-modal .modal-content .modal-header .close .div-close {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register-modal .modal-content .modal-body {
  width: 100%;
  height: 100%;
}

.register-modal .modal-content .modal-body .name {
  width: 100%;
  height: 50px;
  margin-top: 15px;
}

.register-modal .modal-content .modal-body .name span {
  min-width: 140px;
  color: #7F7F7F;
  margin-left: 15px;
}

.register-modal .modal-content .modal-body .name input {
  height: 40px;
  margin-left: 63px;
  border: 1px solid #BCBCBC;
  width: 495px;
  display: inline;
}

.register-modal .modal-content .modal-body .name input:valid {
  padding-left: 17px;
}

.register-modal .modal-content .modal-body .name input::-webkit-input-placeholder {
  padding-left: 17px;
}

.register-modal .modal-content .modal-body .name input::-moz-placeholder {
  padding-left: 17px;
}

.register-modal .modal-content .modal-body .name input::-ms-input-placeholder {
  padding-left: 17px;
}

.register-modal .modal-content .modal-body .name input::placeholder {
  padding-left: 17px;
}

.register-modal .modal-content .modal-body .name .invalid-feedback {
  width: 100%;
  height: 15px;
}

.register-modal .modal-content .modal-body .name .invalid-feedback strong {
  color: red;
  margin-left: 150px;
}

.register-modal .modal-content .modal-body .user-name {
  width: 100%;
  height: 50px;
  margin-top: 15px;
}

.register-modal .modal-content .modal-body .user-name span {
  min-width: 140px;
  color: #7F7F7F;
  margin-left: 15px;
}

.register-modal .modal-content .modal-body .user-name input {
  height: 40px;
  margin-left: 31px;
  border: 1px solid #BCBCBC;
  width: 495px;
  display: inline;
}

.register-modal .modal-content .modal-body .user-name input:valid {
  padding-left: 17px;
}

.register-modal .modal-content .modal-body .user-name input::-webkit-input-placeholder {
  padding-left: 17px;
}

.register-modal .modal-content .modal-body .user-name input::-moz-placeholder {
  padding-left: 17px;
}

.register-modal .modal-content .modal-body .user-name input::-ms-input-placeholder {
  padding-left: 17px;
}

.register-modal .modal-content .modal-body .user-name input::placeholder {
  padding-left: 17px;
}

.register-modal .modal-content .modal-body .user-name .invalid-feedback {
  width: 100%;
  height: 15px;
}

.register-modal .modal-content .modal-body .user-name .invalid-feedback strong {
  color: red;
  margin-left: 150px;
}

.register-modal .modal-content .modal-body .pass-word {
  width: 100%;
  height: 50px;
  margin-top: 15px;
}

.register-modal .modal-content .modal-body .pass-word span {
  min-width: 140px;
  color: #7F7F7F;
  margin-left: 15px;
}

.register-modal .modal-content .modal-body .pass-word input {
  height: 40px;
  margin-left: 63px;
  border: 1px solid #BCBCBC;
  width: 495px;
  display: inline;
}

.register-modal .modal-content .modal-body .pass-word input:valid {
  padding-left: 17px;
}

.register-modal .modal-content .modal-body .pass-word input::-webkit-input-placeholder {
  padding-left: 17px;
}

.register-modal .modal-content .modal-body .pass-word input::-moz-placeholder {
  padding-left: 17px;
}

.register-modal .modal-content .modal-body .pass-word input::-ms-input-placeholder {
  padding-left: 17px;
}

.register-modal .modal-content .modal-body .pass-word input::placeholder {
  padding-left: 17px;
}

.register-modal .modal-content .modal-body .pass-word .invalid-feedback {
  width: 100%;
  height: 15px;
}

.register-modal .modal-content .modal-body .pass-word .invalid-feedback strong {
  color: red;
  margin-left: 150px;
}

.register-modal .modal-content .modal-body .birth-day {
  width: 100%;
  height: 50px;
  margin-top: 15px;
}

.register-modal .modal-content .modal-body .birth-day span {
  min-width: 140px;
  color: #7F7F7F;
  margin-left: 15px;
}

.register-modal .modal-content .modal-body .birth-day input {
  height: 40px;
  margin-left: 78px;
  border: 1px solid #BCBCBC;
  width: 495px;
  display: inline;
}

.register-modal .modal-content .modal-body .birth-day input:valid {
  padding-left: 17px;
}

.register-modal .modal-content .modal-body .birth-day input::-webkit-input-placeholder {
  padding-left: 17px;
}

.register-modal .modal-content .modal-body .birth-day input::-moz-placeholder {
  padding-left: 17px;
}

.register-modal .modal-content .modal-body .birth-day input::-ms-input-placeholder {
  padding-left: 17px;
}

.register-modal .modal-content .modal-body .birth-day input::placeholder {
  padding-left: 17px;
}

.register-modal .modal-content .modal-body .birth-day .invalid-feedback {
  width: 100%;
  height: 15px;
}

.register-modal .modal-content .modal-body .birth-day .invalid-feedback strong {
  color: red;
  margin-left: 150px;
}

.register-modal .modal-content .modal-body .gender {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register-modal .modal-content .modal-body .gender span {
  min-width: 140px;
  color: #7F7F7F;
  margin-left: 15px;
}

.register-modal .modal-content .modal-body .gender .radio-gender {
  margin-left: 25px;
  color: #7F7F7F;
}

.register-modal .modal-content .modal-footer .btn-secondary {
  border: 1px solid #41719C;
  background-color: #FFF2CC;
  height: 35px;
  width: 120px;
  color: black;
  margin-left: 14px;
  margin-right: 495px;
}

.register-modal .modal-content .modal-footer .btn-primary {
  border: 1px solid #41719C;
  background-color: #DEEBF7;
  height: 35px;
  color: black;
  width: 65px;
}

.detailed_post {
  width: 90%;
  min-height: 74vh;
  margin: 0 auto;
}

.detailed_post .content_title {
  margin-top: 1%;
}

.detailed_post .content_title .item_title {
  margin-left: 5%;
  font-size: 1.5rem;
  font-weight: bold;
}

.detailed_post .item_content {
  margin-top: 1%;
  width: 70%;
  min-height: 60vh;
  line-height: 1.5em;
}

.detailed_post .item_user_release_date {
  width: 70%;
  padding: 1%;
  border: 1px solid #BCBCBC;
}

.detailed_post .item_user_release_date .item_user,
.detailed_post .item_user_release_date .item_release_date {
  font-weight: bold;
}

.detailed_post .item_user_release_date .mark {
  margin: 0 2%;
}

.detailed_release_number {
  width: 90%;
  margin: 0 auto;
}

.detailed_release_number .release_number .item_image_name {
  position: relative;
}

.detailed_release_number .release_number .item_image_name img {
  width: 100%;
  height: 450px;
}

.detailed_release_number .release_number .item_image_name .item_name .name {
  width: 25%;
  height: 20%;
  padding: 1%;
  position: absolute;
  bottom: 0%;
  background-color: white;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: -1px;
}

.detailed_release_number .release_number .item_title h2 {
  width: 100%;
  margin: 20px 0;
  font-size: 1.25rem;
}

.detailed_release_number .post_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.detailed_release_number .post_items .post_item {
  width: 49%;
  height: 500px;
  position: relative;
  margin-bottom: 20px;
  background-color: #F2F2F2;
}

.detailed_release_number .post_items .post_item img {
  width: 100%;
  height: 80%;
}

.detailed_release_number .post_items .post_item .post_content {
  width: 100%;
  height: 20%;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #525252;
}

.detailed_release_number .post_items .post_item .post_content h2 a {
  font-size: 2rem;
  font-weight: bold;
  color: #525252;
}

.detailed_release_number .post_items .post_item .post_content h3 {
  color: #525252;
  font-size: 1.25rem;
}

.detailed_release_number .show_more {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

.detailed_release_number .show_more button {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #BFBFBF;
  background-color: #F2F2F2;
  color: #525252;
  font-size: 1.25rem;
  cursor: pointer;
}

