.container-fluid {
  .header_left {
    .left_content {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80px;
      background: #5B9BD5;
      color: white;
      font-weight: bold;
    }
  }
  .header_right {
    display: flex;
    justify-items: flex-end;
    justify-content: flex-end;
    height: 80px;
    align-items: center;
    background: #5B9BD5;
    p {
      color: white;
      font-weight: bold;
    }
  }
  .slidebar {
    p {
      margin-top: 10px;
      opacity: 0.4;
      font-weight: bold;
    }
    .slidebar_content {
      border-right: 1px solid #787878;
      .item {
        margin-left: 15px;
        a {
          text-decoration: none;
          color: black;
          opacity: 0.4;
          font-weight: bold;
        }
        a:hover{
          color: blue;
        }
        div {
          margin-bottom: 15px;
        }
      }
    }
    .container_release_number {
      .main_content {
        p {
          font-weight: bold;
          margin-top: 30px;
          font-size: 30px;
        }
        .button_create {
          border-radius: 0%;
          margin-bottom: 30px;
          width: 10%;
        }
      }
      .table_content {
        border: solid 2px blue;
        width: 100%;
        margin-bottom: 1%;
        background: #F2F2F2;
        .column_1{
          width: 5%;
          border-right: solid 2px blue;
          text-align: center;
          background: #DEEBF7;
        }
        .column_2{
          width: 40%;
          border-right: solid 2px blue;
          text-align: center;
        }
        .column_3{
          width: 40%;
          border-right: solid 2px blue;
          img {
            width: 100%;
            height: 30%;
          }
        }
        .column_4{
          width: 15%;
          .button_delete {
            margin-left: 35%;
            width: 40%;
            margin-bottom: 15%;
            background: #FBE5D6;
          }
          .button_edit {
            margin-left: 35%;
            width: 40%;
            background: #E2F0D9;
          }
        }
      }
    }
    .container_release_number {
      margin-left: 3%;
      h3 {
        font-weight: bold;
        margin-top: 30px;
        font-size: 30px;
        margin-bottom: 2%;
      }
      .form_create_release_number {
        margin-left: 2%;
        width: 90%;
        .form-group {
          .label_create_release_number {
            opacity: 0.4;
            font-weight: bold;
            font-size: 20px;
          }
          .description_create_release_number {
            opacity: 0.4;
          }
          .image_create_release_number {
            height: 250px;
          }
        }
        .button_create_release_number {
          background: #DEEBF7;
          color: black;
          border-radius: 0%;
          margin-right: 2%;
          width: 5%;
        }
        .button_back_release_number {
          background: #FFF2CC;
          color: black;
          border-radius: 0%;
          width: 15%;

        }
      }
      .form_edit_release_number {
        margin-left: 2%;
        width: 90%;
        .form-group {
          .label_edit_release_number {
            opacity: 0.4;
            font-weight: bold;
            font-size: 20px;
          }
          .description_edit_release_number {
            opacity: 0.4;
          }
          .image_edit_release_number {
            height: 100%;
          }
          .image_release_number {
            .image_release_number_old {
              img {
                width: 100%;
                height: 400px;
              }
            }
            .image_release_number_new {

            }
          }
        }
        .button_edit_release_number {
          background: #DEEBF7;
          color: black;
          border-radius: 0%;
          margin-right: 2%;
          width: 5%;
        }
        .button_back_release_number {
          background: #FFF2CC;
          color: black;
          border-radius: 0%;
          width: 15%;

        }
      }
    }
    .container_post {
      .main_content {
        h3 {
          font-weight: bold;
          margin-top: 30px;
          font-size: 30px;
          margin-bottom: 2%;
          margin-left: 2%;
        }
        .button_create_post {
          border-radius: 0%;
          margin-bottom: 30px;
          width: 10%;
          font-weight: bold;
          margin-left: 2%;
        }
        .content_header_post {
          background: #F2F2F2;
          border: solid 2px #41719C;
          width: 95%;
          margin-left: 2%;
          .content_left_post {
            .content_up {
              margin: 10px 0;
              .item {
                justify-content: center;
                align-items: center;
                margin: 0;
                label {
                  font-size: 16px;
                }
                select {
                  background: #E7E6E6;
                  border-radius: 0%;
                  border-color: #41719C;
                }
              }
            }
            .content_down {
              margin: 10px 0;
              .item {
                justify-content: center;
                align-items: center;
                margin: 0;
                label {
                  font-size: 16px;
                }
                select, input, .search  {
                  background: #E7E6E6;
                  border-radius: 0%;
                  border-color: #41719C;

                }
                .search {
                  background: #FFF2CC;
                  width: 100%;
                }
                .d-search-input, .d-btn-search {
                  padding: 0;
                }

              }
            }
          }
          .content_right_post {
            justify-content: center;
            align-items: center;
            display: flex;
          }
        }
        .content_middle_post {
          background: #F2F2F2;
          border: solid 2px #41719C;
          width: 95%;
          margin-left: 2%;
          margin-top: 2%;
          .middle_post_up {
            border: 1px solid #41719C;
            margin: 0;
            label {
              margin: 0;
              padding: 10px 0 !important;
            }
            .post_up_left {
              .stt {
                border-right: solid 2px #41719C;
                justify-content: center;
                align-items: center;
                display: flex;
                //border-bottom: solid 2px #41719C;
              }
              .post_up_right {
                .post_up_right_top {
                  border-bottom: solid 2px #41719C;
                  .item {
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    border-right: solid 2px #41719C;
                  }
                }
                .post_up_right_bot {
                  .item {
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    border-right: solid 2px #41719C;
                    //border-bottom: solid 2px #41719C;
                    .show {
                      background: #D6DCE5;
                      width: 50%;
                      border-radius: 0%;
                      border: 1px solid #41719C;
                    }
                  }
                }
              }
            }
            .post_up_right {
              margin: auto;
              text-align: center;
              .button_edit {
                background: #D6DCE5;
                width: 40%;
                border-radius: 0%;
                border: 1px solid #41719C;
              }
              .button_delete {
                background: #FBE5D6;
                width: 40%;
                border-radius: 0%;
                border: 1px solid #41719C;
              }
            }
          }
        }
      }
    }
    .container_create_post {
        h3 {
          font-weight: bold;
          margin-top: 30px;
          font-size: 30px;
          margin-bottom: 2%;
          margin-left: 1%;
        }
      .form_create_post {
        .content_left {
          .item {
            margin: 0px;
            margin-bottom: 2%;
            label {
              justify-content: center;
              align-content: center;
              display: flex;
              margin: auto 0px;
              opacity: 0.4;
              font-weight: bold;
              font-size: 20px;
            }
            .datepicker {
              padding: 0px;
            }
          }
        }
        .button_create_post {
          background: #DEEBF7;
          color: black;
          border-radius: 0%;
          margin-left: 5%;
          width: 5%;
        }
        .button_create_back {
          background: #FFF2CC;
          color: black;
          border-radius: 0%;
          margin-left: 2%;
          width: 15%;
        }
        .content_right {
          background: #F2F2F2;
          .item {
            label {
              opacity: 0.4;
              font-weight: bold;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
//////////////////////////////////////////////////////Post Modal//////////////////////////////////////////////////
.post_modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    box-shadow: 2px 2px 20px 1px;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    border: 1px solid #41719C;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    .modal-header {
      height: 7%;
      padding: 2%;
      color: black;
      font-size: 18px;
      background-color: #F2F2F2;
      border-bottom: 1px solid #41719C;
      display: flex;
      align-items: center;

      .item_index_title {
        font-weight: bold;
      }

      .btn-close {
        font-size: 18px;
        width: 7%;
        margin-left: auto;
        background-color: #FBE5D6;
        border: 1px solid #41719C;

      }
    }

    .modal-body {
      height: 86%;
      position: relative;
      padding: 3%;
      display: flex;
      background-color: white;
      justify-content: center;
      align-items: center;
      font-size: 18px;

      .item_content {
        height: 100%;
        overflow: auto;
        line-height: 1.5em;
      }
    }

    .modal-footer {
      height: 7%;
      padding: 2%;
      font-size: 18px;
      background-color: white;
      display: flex;
      align-items: center;

      .item_user_release_date {
        width: 80%;
        padding: 1%;
        border: 1px solid #BCBCBC;

        .item_user, .item_release_date {
          font-weight: bold;
        }

        .mark {
          margin: 0 2%;
        }
      }
    }
  }
}

//////////////////////////////////////////////////////Delete Modal//////////////////////////////////////////////////
.delete-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    box-shadow: 2px 2px 20px 1px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 30%;
    border: 1px solid #41719C;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    .modal-header,
    .modal-footer {
      padding: 15px;
      display: flex;
    }

    .modal-header {
      color: black;
      background-color: #E2F0D9;
      height: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid #41719C;
      font-size: 20px;
    }

    .modal-body {
      position: relative;
      padding: 20px 10px;
      background-color: #F2F2F2;
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
    }

    .modal-footer {
      border-top: 1px solid #eeeeee;
      justify-content: flex-end;
      background-color: #F2F2F2;
      height: 30%;

      .btn-remove {
        background: #DEEBF7;
        border: 1px solid #41719C;
        color: black;
        height: 70%;
        width: 20%;
        margin-right: 20%;
        font-size: 20px;
      }

      .btn-close {
        background: #FFF2CC;
        border: 1px solid #41719C;
        color: black;
        height: 70%;
        width: 20%;
        margin-right: 20%;
        font-size: 20px;
      }
    }
  }
}
