<template>
    <transition name="modal-fade">
        <div class="delete-modal">
            <div class="modal">
                <header class="modal-header">
                    <slot name="header">
                        {{title}}の削除
                    </slot>
                </header>
                <section class="modal-body">
                    <slot name="body">
                        この{{title}}を削除してよろしいですか。
                    </slot>
                </section>
                <footer class="modal-footer">
                    <slot name="footer">
                        <button class="btn-remove" @click="remove">はい</button>
                        <button class="btn-close" @click="close">いいえ</button>
                    </slot>
                </footer>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        name: 'DeleteModal',
        props: ['title'],
        methods: {
            remove() {
                this.$emit('remove');
            },
            close() {
                this.$emit('close');
            },
        },
    };
</script>
