<template>
    <transition name="modal-fade">
        <div class="post_modal">
            <div class="modal">
                <header class="modal-header">
                    <slot name="header">
                        <span class="item_index_title">#{{index+1}}：{{post.title}}</span>
                        <button class="btn-close" @click="close">閉じる</button>
                    </slot>
                </header>
                <section class="modal-body">
                    <slot name="body">
                        <p class="item_content" v-html="post.content"></p>
                    </slot>
                </section>
                <footer class="modal-footer">
                    <slot name="footer">
                        <p class="item_user_release_date">
                            <span class="item_user">作成者：</span>
                            <span class="mark">|</span>
                            <span class="item_release_date">作成日：</span>{{post.release_date}}
                        </p>
                    </slot>
                </footer>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        name: "PostModal",
        props: ['post', 'index'],
        methods: {
            close() {
                this.$emit('close');
            }
        }
    }
</script>

<style scoped>

</style>
