<template>
    <div class="row main">
        <div class="col-sm-12 container_create_post">
            <h3>新規記事登録</h3>
            <form class="row form_create_post">
                <div class="col-sm-9 content_left">
                    <div class="row form-group item">
                        <label class="col-sm-2">タイトル</label>
                        <input type="text" class="form-control col-sm-10" v-model="post.title">
                    </div>
                    <div class="row form-group item">
                        <label class="col-sm-2">公開日</label>
                        <date-picker format="YYYY年MM月DD日" name="name" class="form-control col-sm-10 datepicker" v-model="post.release_date"></date-picker>
                    </div>
                    <div class="form-group row item">
                        <vue-ckeditor
                            v-model="post.content"
                            :config="configCkeditor"/>
                    </div>
                </div>
                <div class="col-sm-3 content_right">
                    <div class="form-group item">
                        <label>親カテゴリ</label>
                        <select class="form-control" @change="onChange($event)" v-model="post.parent_id">
                            <option v-for="(category_parent, index) in list_category_parent" :key="index"  v-bind:value="index">
                               {{category_parent.name}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group item">
                        <label>子カテゴリ</label>
                        <select class="form-control" v-model="post.category_id">
                            <option v-for="category_child in list_category_child" v-bind:value="category_child.id">
                                {{category_child.name}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group item">
                        <label>ステタース</label>
                        <select class="form-control" v-model="post.status">
                            <option value="0">非公開</option>
                            <option value="1">公開</option>
                        </select>
                    </div>
                    <div class="form-group item">
                        <label>発売号名</label>
                        <select class="form-control" v-model="post.release_number_id">
                            <option v-for="release in listRealse" v-bind:value="release.id">
                                {{formatDate(release.name)}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group item">
                        <label>サムネイル</label>
                        <vue-dropzone id="upload" :options="config" name="image" class="image_create_release_number"
                                      :useCustomSlot=true
                              @vdropzone-sending="sendingRequest">
                        <div class="dropzone-custom-content">
                            <img src="/images/cloud.png" width="45px" height="40px">
                            <h5 class="dropzone-custom-title">ここに画像ドラッグ</h5>
                        </div>
                        </vue-dropzone>
                    </div>
                </div>
                <button class="btn btn-primary button_create_post" @click="create_post()">保存</button>
                <button class="btn btn-primary button_create_back" @click="back()">キャンセル</button>
            </form>
        </div>
    </div>
</template>
<script>
    import vue2Dropzone from 'vue2-dropzone';
    import 'vue2-dropzone/dist/vue2Dropzone.min.css';
    import DatePicker from 'vue2-datepicker';
    import moment from 'moment'
    import VueCkeditor from 'vue-ckeditor2';
    export default {
        components: {
            vueDropzone: vue2Dropzone,
            DatePicker,
            VueCkeditor
        },
        data: () => ({
            config: {
                url: "http://adminsite.local/api/storage",
                maxFilesize: 10,
                maxFiles: 1,
                addRemoveLinks: true,
                thumbnailWidth: 300,
                acceptedFiles: 'image/jpeg,image/png',
            },
            datepicker: {
                name: "",
                format: 'YYYY/MM/dd',
            },
            list_category_parent: {},
            list_category_child: [],
            user: {
                name: "",
            },
            listRealse:'',
            post: {
                title: '',
                release_date: '',
                content: '',
                status: 0,
                release_number_id: '',
                user_id: '',
                category_id: '',
                parent_id: 0,
                image_id: '',
            },
            configCkeditor: {
                toolbarGroups: [
                    {name: 'document', groups: ['mode', 'document', 'doctools']},
                    {name: 'clipboard', groups: ['clipboard', 'undo']},
                    {name: 'editing', groups: ['find', 'selection', 'spellchecker', 'editing']},
                    {name: 'forms', groups: ['forms']},
                    {name: 'basicstyles', groups: ['basicstyles', 'cleanup']},
                    {name: 'paragraph', groups: ['list', 'indent', 'blocks', 'align', 'bidi', 'paragraph']},
                    {name: 'links', groups: ['links']},
                    {name: 'insert', groups: ['insert']},
                    {name: 'styles', groups: ['styles']},
                    {name: 'colors', groups: ['colors']},
                    {name: 'tools', groups: ['tools']},
                    {name: 'others', groups: ['others']},
                    {name: 'about', groups: ['about']}
                ],
                height: 300
            },
        }),
        created() {
            this.fetchListCategory()
            this.fetchListReleaseNumber()
            this.getUser()
            this.post.release_date = new Date();
            this.post.release_date = moment().format('YYYY/MM/DD');
        },
        methods: {
            onChange(event) {
                this.post.parent_id = event.target.value;
                this.list_category_child = this.list_category_parent[this.post.parent_id].child;
                this.post.category_id = this.list_category_child[0].id;
            },
            fetchListCategory() {
                axios.get('/api/categories').then((res) => {
                    this.list_category_parent = res.data;
                    this.list_category_child = this.list_category_parent[0].child;
                    this.post.category_id = this.list_category_child[0].id;
                });
            },
            back() {
                this.$router.push({path: '/post'})
            },
            create_post() {
                event.preventDefault()
                this.post.release_date = moment().format('YYYY/MM/DD');
                var formData = new FormData();
                formData.append('title', this.post.title);
                formData.append('release_date', this.post.release_date);
                formData.append('content', this.post.content);
                formData.append('status', this.post.status);
                formData.append('category_id', this.post.category_id);
                formData.append('release_number_id', this.post.release_number_id);
                formData.append('user_id', this.post.user_id);
                formData.append('image', this.post.image_id);
                axios.post('/api/posts/create',formData).then((res) => {
                    this.$router.push({path: '/post'})
                });
            },
            sendingRequest(file, xhr, formData){
                this.post.image_id = file;
            },
            fetchListReleaseNumber() {
                axios.get('/api/release_number').then((res) => {
                    this.listRealse = res.data.data.data
                    this.listRealse.name = moment().format('YYYY/MM/DD');
                });
            },
            formatDate : function (date) {
                return moment(date, 'YYYY-MM-DD').format("YYYY年MM月DD日号");
            },
            getUser() {
                var app = this;
                var token = localStorage.getItem('access_token');
                axios.get('/api/auth_user', {
                    headers: {
                        Authorization: 'Bearer ' + token
                    }
                })
                .then(response => {
                    if (response.data.status === 'Token is Expired') {
                        window.localStorage.removeItem('access_token');
                        app.$router.push({path: '/'});
                    } else {
                        app.user.name = response.data.data.name;
                        console.log(response.data.data);
                        app.post.user_id = response.data.data.id;
                    }
                })
                .catch(error => {
                    console.log(error);
                });
            },
        },
    };
</script>
<style>
    label {
        display: block;
    }
    .mx-input-append {
        display: none
    }
    .mx-datepicker {
        width: 100%;
    }
    .mx-datepicker-popup {
        left: 0px !important
    }

    #dropzone {
        width: 98%;
        border: 1px solid #41719c;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
    }

    .dropzone-custom-title {
        font-size: 19px;
        margin-top: 10px;
        color: #AFABAB;
    }
</style>

