<template>
    <div class="row main">
        <div class="col-sm-12 container_create_post">
            <h3>新規記事登録</h3>
            <form class="row form_create_post">
                <div class="col-sm-9 content_left">
                    <div class="row form-group item">
                        <label class="col-sm-2">タイトル</label>
                        <input type="text" class="form-control col-sm-10" v-model="post.title">
                    </div>
                    <div class="row form-group item">
                        <label class="col-sm-2">公開日</label>
                        <date-picker format="YYYY年MM月DD日号" name="name" class="form-control col-sm-10 datepicker"
                                     v-model="post.release_date"></date-picker>
                    </div>
                    <div class="form-group row item">
                        <vue-ckeditor
                                v-model="post.content"
                                :config="configCkeditor"/>
                    </div>
                </div>
                <div class="col-sm-3 content_right">
                    <div class="form-group item">
                        <label>親カテゴリ</label>
                        <select class="form-control" @change.prevent="onChange" v-model="parent_selected">
                            <option v-for="(category_parent) in list_category_parent"
                                    :value="category_parent.id">
                                {{category_parent.name}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group item">
                        <label>子カテゴリ</label>
                        <select class="form-control" v-model="child_selected">
                            <option v-for="category_child in list_category_child"
                                    :value="category_child.id">
                                {{category_child.name}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group item">
                        <label>ステタース</label>
                        <select class="form-control">
                            <option>公開</option>
                        </select>
                    </div>
                    <div class="form-group item">
                        <label>発売号名</label>
                        <select class="form-control" v-model="post.release_number_id">
                            <option v-for="release in listRealse" v-bind:value="release.id">
                                {{formatDate(release.name)}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group item">
                        <label>サムネイル</label>
                        <vue-dropzone id="upload" :options="config" name="image" class="image_create_release_number"
                        @vdropzone-sending="sendingRequest" :useCustomSlot=true
                        >
                            <div class="dropzone-custom-content">
                                <img src="/images/cloud.png" width="45px" height="40px">
                                <h5 class="dropzone-custom-title">ここに画像ドラッグ</h5>
                            </div>
                        </vue-dropzone>
                    </div>
                </div>
                <button class="btn btn-primary button_create_post" @click.prevent="updatePost(post.id)">保存</button>
                <button class="btn btn-primary button_create_back" @click.prevent="back">キャンセル</button>
            </form>
        </div>
    </div>
</template>
<script>
    import vue2Dropzone from 'vue2-dropzone';
    import 'vue2-dropzone/dist/vue2Dropzone.min.css';
    import DatePicker from 'vue2-datepicker';
    import VueCkeditor from 'vue-ckeditor2';
    import moment from 'moment'

    export default {
        data: () => ({
            config: {
                url: "http://adminsite.local/api/storage",
                maxFilesize: 10,
                maxFiles: 1,
                addRemoveLinks: true,
                thumbnailWidth: 300,
                acceptedFiles: 'image/jpeg,image/png',
            },
            datepicker: {
                name: "",
                format: 'YYYY/MM/dd',
            },
            configCkeditor: {
                toolbarGroups: [
                    {name: 'document', groups: ['mode', 'document', 'doctools']},
                    {name: 'clipboard', groups: ['clipboard', 'undo']},
                    {name: 'editing', groups: ['find', 'selection', 'spellchecker', 'editing']},
                    {name: 'forms', groups: ['forms']},
                    {name: 'basicstyles', groups: ['basicstyles', 'cleanup']},
                    {name: 'paragraph', groups: ['list', 'indent', 'blocks', 'align', 'bidi', 'paragraph']},
                    {name: 'links', groups: ['links']},
                    {name: 'insert', groups: ['insert']},
                    {name: 'styles', groups: ['styles']},
                    {name: 'colors', groups: ['colors']},
                    {name: 'tools', groups: ['tools']},
                    {name: 'others', groups: ['others']},
                    {name: 'about', groups: ['about']}
                ],
                height: 300
            },
            parent_selected:'',
            child_selected:'',
            item_chil_select:'',
            post: {
                title: '',
                release_date: '',
                content: '',
                status: 0,
                release_number_id: '',
                user_id: '',
                category_id: '',
                image_id: '',
                category: {
                    parent: {}
                },
                image: '',
            },
            list_category_parent: [],
            list_category_child: [],
            listRealse: {}
        }),
        components: {
            vueDropzone: vue2Dropzone,
            DatePicker,
            VueCkeditor
        },
        async created() {
            this.post_id = this.$route.params.id;
            await this.findPost(this.post_id);
            await this.fetchListCategory(this.parent_selected)
            this.fetchListReleaseNumber()
        },
        watch: {
            list_category_child: function(list_category_child) {
                if (!this.item_chil_select) {
                    this.child_selected = list_category_child[0].id;
                } else {
                    this.child_selected = this.item_chil_select;
                }
            }
        },
        methods: {
            async findPost(id) {
                let res = await axios.get('/api/posts/edit/' + id);
                this.post = res.data;
                this.parent_selected = res.data.category.parent.id;
                this.item_chil_select = res.data.category_id;
            },
            onChange(e) {
                this.item_chil_select = '';
                this.fetchListCategory(e.target.value);
            },
            back() {
                this.$router.push({path: '/post'})
            },
            async fetchListCategory(parentId) {
                let res = await axios.get('/api/categories');
                let parentData =  res.data.find((childData) => childData.id === Number(parentId));
                this.list_category_parent = res.data;
                this.list_category_child = parentData.child;
            },
            updatePost(id) {
                var formData = new FormData();
                formData.append('title', this.post.title);
                formData.append('release_date', this.post.release_date);
                formData.append('content', this.post.content);
                formData.append('status', this.post.status);
                formData.append('category_id', this.post.category_id);
                formData.append('release_number_id', this.post.release_number_id);
                formData.append('user_id', this.post.user_id);
                formData.append('image', this.post.image);
                formData.append('image_id', this.post.image_id);
                formData.append('_method', 'PATCH');
                console.log(formData);
                axios.post('/api/posts/update/' + id, formData).then((res) => {
                    console.log(res);
                });
            },
            sendingRequest(file, xhr, formData){
                this.post.image = file;
            },
            formatDate : function (date) {
                return moment(date, 'YYYY-MM-DD').format("YYYY年MM月DD日号");
            },
            fetchListReleaseNumber() {
                axios.get('/api/release_number').then((res) => {
                    this.listRealse = res.data.data.data
                });
            },
        }
    };
</script>
<style>
    label {
        display: block;
    }

    .mx-input-append {
        display: none
    }

    .mx-datepicker {
        width: 100%;
    }

    .mx-datepicker-popup {
        left: 0px !important
    }
</style>