<template>
    <div class="row container_post">
        <div class="col-sm-12 main_content">
            <h3>記事一覧</h3>
<!--            <button class="button_create_post btn-primary">新規記事追加</button>-->
            <router-link to="/post/create" tag="button" class="btn btn-primary button_create_post">新規記事追加</router-link>
            <div class="row content_header_post">
                <div class="col-sm-10 content_left_post">
                    <div class="row content_up">
                        <div class="form-group col-sm-4 row item">
                            <label class="col-sm-4 col-form-label">発売号</label>
                            <select class="form-control col-sm-8">
                                <option>すべて</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4 row item">
                            <label class="col-sm-4 col-form-label">親カテゴリ</label>
                            <select class="form-control col-sm-8">
                                <option>すべて</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4 row item">
                            <label class="col-sm-4 col-form-label">子カテゴリ</label>
                            <select class="form-control col-sm-8">
                                <option>すべて</option>
                            </select>
                        </div>
                    </div>
                    <div class="row content_down">
                        <div class="form-group col-sm-4 row item">
                            <label class="col-sm-4 col-form-label">ステタース</label>
                            <select class="form-control col-sm-8">
                                <option>すべて</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4 row item">
                            <label class="col-sm-4 col-form-label">キワード</label>
                            <div class="col-sm-8 d-search-input">
                                <input type="text" class="form-control" placeholder="結果内容の入力">
                            </div>
                        </div>
                        <div class="form-group col-sm-4 row item">
                            <label class="col-sm-4 col-form-label"></label>
                            <div class="col-sm-8 d-btn-search">
                                <button class="search btn btn-default">検索</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 content_right_post">
                    <div class="paginate">
                        3件 / 3件
                    </div>
                </div>
            </div>
            <div class="row content_middle_post">
                <div class="row col-sm-12 middle_post_up">
                    <div class="row col-sm-10 post_up_left">
                        <div class="col-sm-1 stt">
                            #
                        </div>
                        <div class="col-sm-11 post_up_right">
                            <div class="row post_up_right_top">
                                <div class="col-sm-5 item">
                                    <label>タイトル</label>
                                </div>
                                <div class="col-sm-2 item">
                                    <label>発売号</label>
                                </div>
                                <div class="col-sm-5 item">
                                    <label>カテゴリ</label>
                                </div>
                            </div>
                            <div class="row post_up_right_bot">
                                <div class="col-sm-2 item">
                                    <label>ステタース</label>
                                </div>
                                <div class="col-sm-2 item">
                                    <label>作成者</label>
                                </div>
                                <div class="col-sm-2 item">
                                    <label>更新日</label>
                                </div>
                                <div class="col-sm-2 item">
                                    <label>公開日</label>
                                </div>
                                <div class="col-sm-4 item">
                                    <label>記事内容</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 post_up_right">
                        <label>変更。削除</label>
                    </div>
                </div>
                <div class="row col-sm-12 middle_post_up" v-for="(post,index) in listPost">
                    <div class="row col-sm-10 post_up_left">
                        <div class="col-sm-1 stt">
                            {{index + 1}}
                        </div>
                        <div class="col-sm-11 post_up_right">
                            <div class="row post_up_right_top">
                                <div class="col-sm-5 item">
                                    <label>{{ post.title }}</label>
                                </div>
                                <div class="col-sm-2 item">
                                    <label>発売号</label>
                                </div>
                                <div class="col-sm-5 item">
                                    <label>{{post.category.name}} - {{post.category.parent.name}}</label>
                                </div>
                            </div>
                            <div class="row post_up_right_bot">
                                <div class="col-sm-2 item">
                                    <label v-if="post.status == 0">非公開</label>
                                    <label v-if="post.status == 1">公開</label>
                                </div>
                                <div class="col-sm-2 item">
                                    <label>{{post.user.username}}</label>
                                </div>
                                <div class="col-sm-2 item">
                                    <label>更新日</label>
                                </div>
                                <div class="col-sm-2 item">
                                    <label>公開日</label>
                                </div>
                                <div class="col-sm-4 item">
                                    <button @click="showPostModal(post, index)" class="show btn btn-default">表示</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 post_up_right">
                        <router-link :to="{name: 'post-edit', params: {id: post.id}}" tag="button" class="button_edit">
                            変更
                        </router-link>
                        <button class="button_delete" @click="showDeleteModal(post.id, index)">削除</button>
                    </div>
                    <post-modal :index="currentIndex" :post="currentPost" v-show="isPostModalVisible"
                                @close="closePostModal">
                    </post-modal>
                    <delete-modal :title="title" v-show="isModalVisible" @close="closeModal" @remove="deleteData(id)"></delete-modal>
                </div>
            </div>
            <pagination v-if="pagination.last_page > 1" :pagination="pagination" :offset="5" @paginate="fetchListPost()"></pagination>
        </div>
    </div>
</template>
<script>
    import pagination from '../../../components/pagination/pagination'
    import PostModal from '../../../components/modal/PostModal'
    import DeleteModal from '../../../components/modal/DeleteModal'

    export default {
        components: {
            pagination, PostModal, DeleteModal
        },
        data() {
            return {
                listPost: {},
                pagination: {
                    'current_page': 1
                },
                currentIndex: '',
                currentPost: '',
                isPostModalVisible: false,
                isModalVisible: false,
                title: '記事の削除',
            };
        },
        created() {
            this.fetchListPost()
        },
        methods: {
            fetchListPost() {
                axios.get('api/posts?page=' + this.pagination.current_page).then((res) => {
                    this.listPost = res.data.data;
                    this.pagination = res.data;
                    // console.log(this.listPost);
                    // console.log(res.data);
                });
            },
            showPostModal(post, index) {
                this.isPostModalVisible = true;
                this.currentPost = post;
                this.currentIndex = index;
            },
            closePostModal() {
                this.isPostModalVisible = false;
            },
            showDeleteModal(id, index) {
                this.isModalVisible = true;
                this.id = id;
                this.index = index;
            },
            closeModal() {
                this.isModalVisible = false;
            },
            deleteData(id) {
                axios.delete('/api/posts/delete/'+ id).then((res) => {
                    console.log(res);
                    this.closeModal();
                    this.fetchListPost();
                });
            },
        },
    };
</script>
