<template>
    <div class="Home">
        <h1>Cat</h1>
        ...
    </div>
</template>

<script>
    import LayoutDefault from '../../layouts/layout';

    export default {
        name: 'Cat',
        created() {
            this.$emit('update:layout', LayoutDefault);
        },
    };
</script>