<template>
    <div class="row header_left">
        <div class="col-sm-2 left_content">
            <p>総合ジャーナル</p>
        </div>
        <div class="col-sm-10 header_right">
            <p>狩野</p>
            <div class="dropdown">
                <a class="btn">
                    ︾
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">ログアウト</a>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {

    }
</script>