<template>
    <div class="row slidebar">
        <div class="col-sm-2 slidebar_content">
            <p>メニュー一覧</p>
            <div class="item">
                <div><router-link to="/post" exact><span>》</span>発売号一覧管理</router-link></div>
                <div><router-link to="/release_number" exact><span>》</span>アドミンユーザー管理</router-link></div>
                <div><router-link to="/foo"><span>》</span>カテゴリ管理</router-link></div>
                <div><router-link to="/foo"><span>》</span>記事一覧管理</router-link></div>
                <div><router-link to="/foo"><span>》</span>画像管理</router-link></div>
                <div><router-link to="/foo"><span>》</span>メンバー一覧管理</router-link></div>
                <div><router-link to="/foo"><span>》</span>設定管理</router-link></div>
            </div>
        </div>
        <div class="col-sm-10">
            <router-view />
        </div>
    </div>
</template>
<script>
    export default {

    }
</script>
