<template>
    <div class="container-fluid">
        <Header></Header>
        <Slidebar></Slidebar>
    </div>
</template>

<script>
    import Header from '../components/admin/header'
    import Slidebar from '../components/admin/slide-bar'
    export default {
        components: {
            Header,Slidebar
        }
    }
</script>
