<template>
    <div class="row main">
        <div class="col-sm-12 container_release_number">
            <h3>新規発売号登録</h3>
            <form class="form_create_release_number">
                <div class="form-group">
                    <label for="" class="label_create_release_number">発売号名</label>
                    <date-picker v-model="realse.name" format="YYYY年MM月DD日号" name="name" :disabled-dates="disabledDates"></date-picker>
                </div>
                <div class="form-group">
                    <label for="" class="label_create_release_number">発売号画像</label>
                    <vue-dropzone id="upload" :options="config" name="image" class="image_create_release_number" v-model="realse.image_id"
                                  @vdropzone-sending="sendingRequest"
                                  :useCustomSlot=true
                    >
                        <div class="dropzone-custom-content">
                            <img src="/images/cloud.png" width="45px" height="40px">
                            <h5 class="dropzone-custom-title">ここに画像ドラッグ</h5>
                        </div>
                    </vue-dropzone>
                </div>
                <div class="form-group" :class="checkStatus == 'error' ? '123' : '' ">
                    <label for="" class="label_create_release_number">形容</label>
                    <textarea name="description" id="" cols="30" rows="5" class="form-control description_create_release_number" v-model="realse.description" placeholder="形容の入力
"></textarea>
                </div>
                <button type="button" class="btn btn-primary button_create_release_number" v-on:click="create_realse()">保存</button>
                <button class="btn btn-primary button_back_release_number" @click="back()">キャンセル</button>
            </form>
        </div>
    </div>
</template>
<script>
    import vue2Dropzone from 'vue2-dropzone';
    import 'vue2-dropzone/dist/vue2Dropzone.min.css';
    import DatePicker from 'vue2-datepicker';
    import moment from 'moment'

    export default {
        data: () => ({
            realse: {
                name: "",
                description: "",
                image: "",
                price: 0,
            },
            config: {
                url: "http://adminsite.local/api/storage",
                maxFilesize: 10,
                maxFiles: 1,
                addRemoveLinks: true,
                thumbnailWidth: 800,
                acceptedFiles: 'image/jpeg,image/png',
            },
            datepicker: {
                name: "",
                format: 'YYYY/MM/dd',
            },
            status: '',
            disabledDates: {
                days: [0, 1, 2, 3, 4, 6]
            },
            check: true,
            errors: {
                name: {
                    length: '',
                },
                image_id: '',
                description: '',
            },
        }),
        components: {
            vueDropzone: vue2Dropzone,
            DatePicker
        },
        created(){
            this.realse.name = moment().day(5).format('YYYY/MM/DD');
        },
        methods: {
            create_realse() {
                var app = this;
                app.checkValidate();
                if(app.check) {
                    var formData = new FormData();
                    formData.append('name', this.realse.name ? this.realse.name : '' );
                    formData.append('image', this.realse.image);
                    formData.append('description', this.realse.description);
                    formData.append('price', this.realse.price);
                    axios.post('/api/release_number/create',formData
                    ).then((res) => {
                        this.$router.push({path: '/release_number'})
                    }).catch((err) => {
                        if (err.response.data.error.code == 422) {
                            this.status = 'error';
                        }
                    });
                }else{

                }
            },
            sendingRequest(file, xhr, formData){
                this.realse.image = file;
            },
            back() {
                this.$router.push({path: '/release_number'})
            },
            checkValidate() {
                var app = this;
                var releaseNumber = app.realse;
                if (releaseNumber.name == null || releaseNumber.name == '') {
                    app.check = false;
                    app.errors.name = "発売号を入力してください。";
                }
                if (releaseNumber.name.length > 14) {
                    app.check = false;
                    app.errors.name.length = "発売号が14文字以下み有効です。";
                }
                if (releaseNumber.image == null || releaseNumber.image == '') {
                    app.check = false;
                    app.errors.image_id = "発売号画像を入力してください。";
                }
                if (releaseNumber.description.length > 500) {
                    app.check = false;
                    app.errors.description = "形容が500文字以下み有効です。";
                }
            },
        },
        computed:{
            checkStatus(){
                return this.status;
            }
        }
    };
</script>
<style>
    label {
        display: block;
    }
    .mx-input-append {
        display: none
    }
    .mx-datepicker {
        width: 100%;
    }
    .mx-datepicker-popup {
        left: 0px !important
    }
</style>


