<template>
    <div class="row main">
        <div class="col-sm-12 container_release_number">
            <h3>新規発売号登録</h3>
            <form class="form_edit_release_number">
                <div class="form-group">
                    <label for="" class="label_edit_release_number">発売号名</label>
                    <date-picker v-model="realse.name" format="YYYY年MM月DD日号" name="name"></date-picker>
                </div>
                <div class="form-group">
                    <label for="" class="label_edit_release_number">発売号画像</label>
                    <div class="row image_release_number">
                        <div class="col-sm-6 image_release_number_old">
                            <img :src="'http://adminsite.local/storage/' + realse.image.name" alt=""/>
                        </div>
                        <div class="col-sm-6 image_release_number_new">
                            <vue-dropzone id="upload" :options="config" name="image" class="image_edit_release_number"
                                          @vdropzone-sending="sendingRequest"
                            ></vue-dropzone>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="label_edit_release_number">形容</label>
                    <textarea name="description" id="" cols="30" rows="5" class="form-control description_edit_release_number" v-model="realse.description" placeholder="形容の入力
"></textarea>
                </div>
                <button type="button" class="btn btn-primary button_edit_release_number" v-on:click="update_release()">保存</button>
                <button class="btn btn-primary button_back_release_number" @click="back()">キャンセル</button>
            </form>
        </div>
    </div>
</template>

<script>
    import vue2Dropzone from 'vue2-dropzone';
    import 'vue2-dropzone/dist/vue2Dropzone.min.css';
    import DatePicker from 'vue2-datepicker';
    import moment from 'moment'

    export default {
        data: () => ({
            realse_id: null,
            realse: {
                name: "",
                description: "",
                image: "",
                price: 0,
                image_new: "",
                image_id: '',
            },
            config: {
                url: "http://adminsite.local/api/storage",
                maxFilesize: 10,
                maxFiles: 1,
                addRemoveLinks: true,
                thumbnailWidth: 800,
                acceptedFiles: 'image/jpeg,image/png',
                thumbnailWidth: 200,
                thumbnailHeight: 200,
            },
            datepicker: {
                name: "",
                format: 'YYYY/MM/dd',
            },
            params_realse: {},
            errors: {
                name: {
                    length: 0,
                },
                image_id: '',
                description: {
                    length: 0,
                }
            }
        }),
        components: {
            vueDropzone: vue2Dropzone,
            DatePicker
        },
        created(){
            this.realse_id = this.$route.params.id;
            this.FindRealse(this.realse_id);
        },
        methods: {
            back() {
                this.$router.push({path: '/release_number'})
            },
            sendingRequest(file, xhr, formData){
                this.realse.image_new = file;
            },
            FindRealse(id) {
                axios.get('/api/release_number/edit/' + id)
                    .then(res => {
                        this.realse = res.data;
                    })
                    .catch(function () {
                        console.log("error");
                    });
            },
            update_release() {
                event.preventDefault();
                var app = this;
                app.checkValidate();
                var formData = new FormData();
                formData.append('name', this.realse.name);
                formData.append('image', this.realse.image_new);
                formData.append('description', this.realse.description);
                formData.append('price', this.realse.price);
                formData.append('image_id', this.realse.image_id);
                formData.append('image_old', this.realse.image.name);
                let id = this.realse_id;
                axios.post('/api/release_number/update/'+ id,formData
                ).then((res) => {
                    this.$router.push({path: '/release_number'})
                }).catch((err) => {
                    if (err.response.data.error.code == 422) {
                        this.status = 'error';
                    }
                });
            },
            checkValidate() {
                var app = this;
                var releaseNumber = app.errors;
                if (releaseNumber.name == null || releaseNumber.name == '') {
                    app.check = false;
                    app.errors.name = "発売号を入力してください。";
                }
                if (releaseNumber.name.length > 14) {
                    app.check = false;
                    app.errors.name.length = "発売号が14文字以下み有効です。";
                }
                if (releaseNumber.image == null || releaseNumber.image == '') {
                    app.check = false;
                    app.errors.image_id = "発売号画像を入力してください。";
                }
                if (releaseNumber.description.length > 500) {
                    app.check = false;
                    app.errors.description = "形容が500文字以下み有効です。";
                }
                console.log(app.errors);
            },
        }
    };
</script>
<style>
    label {
        display: block;
    }
    .mx-input-append {
        display: none
    }
    .mx-datepicker {
        width: 100%;
    }
    .mx-datepicker-popup {
        left: 0px !important
    }
</style>