<template>
    <div class="row container_release_number">
        <div class="col-sm-12 main_content">
            <p>発売号一覧管理</p>
            <router-link to="/release_number/create" tag="button" class="btn btn-primary button_create">新規登録</router-link>
            <table class="table_content"  v-for="( realse,index ) in listRealse" v-show="checkRender">
                <tr>
                    <td class="column_1" v-if="pagination.current_page === 1">{{index+1}}</td>
                    <td class="column_1" v-else>{{ per_page*(pagination.current_page-1)+(index+1)}}</td>
                    <td class="column_2">{{ formatDate(realse.name)}}</td>
                    <td class="column_3">
                        <img :src="'http://adminsite.local/storage/' + realse.image.name"/>
                    </td>
                    <td class="column_4">
                        <button class="button_delete" @click="showModal(realse.id, index)">削除</button>
                        <router-link :to="{name: 'create-edit', params: {id: realse.id}}" tag="button" class="button_edit">
                            変更
                        </router-link>
                    </td>
                </tr>
            </table>
            <delete-modal :title="title" v-show="isModalVisible" @close="closeModal" @remove="deleteData(id, index)"></delete-modal>
            <pagination v-if="pagination.last_page > 1" :pagination="pagination" :offset="5" @paginate="fetchListRealse()"></pagination>
        </div>
    </div>
</template>
<script>
    import axios from "axios";
    import pagination from '../../../components/pagination/pagination'
    import moment from 'moment'
    import DeleteModal from '../../../components/modal/DeleteModal'

    export default {
        components: {
            pagination, DeleteModal
        },
        data() {
            return {
                title: '発売号',
                listRealse: {},
                pagination: {
                    'current_page': 1
                },
                isModalVisible: false,
                id: '',
                index: '',
                per_page: '',
                checkRender: false
            };
        },
        created() {
            this.fetchListRealse()
        },
        methods: {
            fetchListRealse() {
                var app = this;
                app.checkRender = false;
                axios.get('api/release_number?page=' + app.pagination.current_page).then((res) => {
                    app.listRealse = res.data.data.data
                    app.pagination = res.data.pagination
                    app.per_page = app.pagination.per_page
                    app.checkRender = true
                });
            },
            showModal(id, index) {
                this.isModalVisible = true;
                this.id = id;
                this.index = index;
                this.checkRender = true;
            },
            closeModal() {
                this.isModalVisible = false;
            },
            deleteData(id,index) {
                axios.delete('/api/release_number/delete/'+ id).then((res) => {
                    this.closeModal();
                    this.listRealse.splice(index, 1);
                    this.fetchListRealse();
                });
            },
            formatDate : function (date) {
                return moment(date, 'YYYY-MM-DD').format("YYYY年MM月DD日号");
            }
        },
    };
</script>
