<template>
    <div class="container">
        <div class="form_login">
            <div class="label">
                <h3>総合ジャーナル</h3>
            </div>
            <div class="form">
                <form v-on:submit="getLogin()">
                    <div>
                        <span class="alert-danger" v-if="errors.message">{{errors.message}}</span>
                    </div>
                    <input v-model="user.email" type="text" class="text_email" name="email" placeholder="メールの入力">
                    <div class="errors" style="height: 20px;">
                        <span class="text-danger" v-if="errors.email">{{errors.email}}</span>
                    </div>
                    <input v-model="user.password" type="password" class="text_password" name="password" placeholder="パスワードの入力">
                    <div v-if="errors.password">{{errors.password}}</div>
                    <button v-on:click="checkForm()" class="button_login btn btn-primary">ログイン</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from "axios";

    export default {
        data() {
            return {
                user: {
                    email: "",
                    password: ""
                },
                errors: {
                    email: "",
                    password: "",
                    message: ""
                }
            };
        },
        methods: {
            getLogin() {
                this.errors = {
                    email: "",
                    password: "",
                    message: ""
                }
                var app = this
                event.preventDefault()
                var user_login = app.user
                axios
                    .post("api/auth/login", user_login)
                    .then(response => {
                        if(response.data.error.status) {
                                app.errors.message = response.data.error.message
                            }else {
                            this.token = response.data.data;
                            window.localStorage.setItem("access_token", this.token);
                            app.$router.push({path: "/user"});
                        }
                    })
                    .catch(error => {
                    });
            },
            checkForm() {
                this.errors = {
                        email: "",
                        password: "",
                        message: ""
                }
                var app = this
                var user_login = app.user
                if(user_login.email === "") {
                    this.errors.email = "chua nhap email"
                }
                if(user_login.password === "") {
                    this.errors.password = "chua nhap password"
                }
                if(user_login.email.length > 64) {
                    this.errors.email = "qua do dai cho phep"
                }
                if(user_login.password.length > 72) {
                    this.errors.password = "qua do dai cho phep"
                }
            }
        },
    };
</script>

